.open{
    width: 30%;
    float: right;
    height: 100vh;
    z-index: 10;
    position: absolute;
    right: 0;
    background-color: black;
    transition: width 2s;
}

.closed{
    width: 0px;
    display: none;
}

.filter-bar{
    float: right;
    height: 100vh;
    z-index: 10;
    position: absolute;
    right: 0;
}

@media screen and (max-width:576px) {
    
    .open{
        width: 90%;
    }
}