
.alignment {
    float: right;
}

.responsive-container{
    min-height: 100vh;
}

.action-item{
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.2em;
    
}

@media screen and (max-width:576px) {
    .responsive-container{
        width: 90% !important;;
    }
    .actions{
      padding-top: 1rem;
      float: left !important;
    }
    .action-item{
        padding-left: 0px !important;
        padding-right: 1.5rem !important;
    
    }
    .alignment{
        float:none;
        padding-top: 10px;
        justify-content: space-between;
    }
}


